* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
}

#content {
    background-color: white;
    width: 100%;
    max-width: 1440px;
}

header {
    width: 100%;
    min-height: 10vh;
    background: #30343F;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

footer {
    width: 100%;
    min-height: 30vh;
    background: #30343F;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

main {
    background-color: white;
    min-height: 60vh;
    width: 100%;
}

button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border: 0;
    border-radius: 50px;
    padding: 0;
    margin: 0;
}


/**************************************************/


/*                     header                     */


/**************************************************/

header #logotipo {
    flex: 50%;
}

header #logotipo img {
    margin-left: 6vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 6vh;
    width: auto;
}

header menu li {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    display: inline-block;
    height: 6vh;
    vertical-align: middle;
    margin-right: 49px;
}

header menu li img {
    width: auto;
    height: 1rem;
}

header menu ul {
    text-align: right;
    display: inline-flex;
    text-align: right;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 6vw;
    margin-left: 6vw;
    height: 6vh;
    vertical-align: middle;
}

header menu {
    flex: 50%;
    display: inline-block;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    vertical-align: middle;
    display: inline-block;
}


/**************************************************/


/*                     footer                     */


/**************************************************/

footer menu li {
    display: inline-block;
    flex: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    vertical-align: middle;
    margin-bottom: 10px;
}

footer menu ul {
    margin-top: 6vh;
    margin-left: 6vw;
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer menu {
    flex: 50%;
    height: 17vh;
    display: inline-block;
    max-width: 50%;
}

footer #isotipo {
    flex: 50%;
    display: inline-block;
    max-width: 50%;
    text-align: right;
}

footer #isotipo img {
    margin-top: 7vh;
    margin-right: 110px;
    height: calc(50px + (15vh+15vw)/2);
    width: auto;
}

footer #copyright {
    flex: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    vertical-align: middle;
    text-align: center;
    height: 7vh;
    margin-bottom: 10px;
}


/**************************************************/


/*                    main                        */


/**************************************************/

main #banner {
    width: 100%;
    min-height: 35vh;
    background-image: url('../multimedia/funkos-banner.webp');
    background-position-y: bottom;
    background-position-x: center;
    background-size: cover;
    backdrop-filter: blur(3px);
    overflow: hidden;
}

main #banner h1,
main #banner p,
main #banner button {
    margin-left: 6vw;
}

main #banner h1 {
    color: white;
    margin-top: 6vh;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

main #banner p {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

main #banner button {
    margin-top: 6vh;
    width: 211px;
    height: 47px;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    color: black;
    font-size: 1.2rem;
}

main #destacados {
    display: flex;
    flex-direction: column;
    margin-left: 6vw;
    margin-right: 6vw;
    overflow: hidden;
}

main #destacados article {
    display: flex;
    flex-wrap: wrap;
}

main #destacados picture {
    flex: 50%;
}

main #destacados .descripcion {
    flex: 50%;
    margin-top: calc((8vh + 8vw)/2);
}

main #destacados .descripcion h2 {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 54px;
    text-transform: uppercase;
}

main #destacados .descripcion p {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 28px;
}

main #destacados #hr {
    border: 0;
    border-top: 3px #FF3333 solid;
    color: #FF3333;
    margin-top: 28px;
    margin-bottom: 28px;
}

main #destacados button {
    width: 292px;
    height: 65px;
    background: #30343F;
    font-size: 1.5rem;
    color: #FFFFFF;
}

main #destacados .left {
    flex-direction: row;
}

main #destacados .right {
    flex-direction: row-reverse;
}

main #destacados img {
    width: 95%;
    height: auto;
}

main #ultimos {
    margin-top: 6vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    font-family: 'Inter', sans-serif;
}

#ultimos h1 {
    flex: 100%;
    font-weight: 700;
    font-size: 2.5rem;
    padding-left: 6vw;
    padding-right: 6vw;
}

main #ultimos article {
    flex: 33%;
}

#ultimos figure img {
    /*height: calc(100px + (25vh+25vw)/2);*/
    width: 100%;
    height: auto;
}

#ultimos .nuevo {
    display: inline-block;
    background-color: #FF3333;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1rem;
    width: 96px;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: -60px;
    margin-right: 1vw;
}

#ultimos article {
    text-align: right;
}

#ultimos article figcaption {
    text-align: left;
    margin-left: 6vw;
    margin-right: 1vw;
}

#ultimos .seccion {
    font-size: 0.8rem;
    font-weight: 500;
}

#ultimos h2 {
    font-size: 1rem;
    line-height: 22px;
    font-weight: 700;
    margin-top: 14px;
    margin-bottom: 14px;
}

#ultimos h3 {
    font-size: 0.8rem;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 14px;
}

#ultimos h4 {
    font-size: 0.6rem;
    line-height: 14px;
    font-weight: 700;
    margin-bottom: 14px;
    color: #1D84B5;
}

@media only screen and (max-width: 600px) {
    main #destacados picture {
        flex: 100%;
    }
    main #destacados .descripcion {
        flex: 100%;
    }
    main #ultimos article {
        flex: 100%;
    }
}

@media only screen and (min-width: 601px) {
    main #destacados picture {
        flex: 50%;
    }
    main #destacados .descripcion {
        flex: 50%;
    }
    main #ultimos article {
        flex: 33%;
    }
}

@media only screen and (min-width: 1200px) {
    main #destacados picture {
        flex: 50%;
    }
    main #destacados .descripcion {
        flex: 50%;
    }
    main #ultimos article {
        flex: 25%;
    }
}

@media only screen and (max-width: 450px) {
    html {
        font-size: 80%;
    }
}