body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
}

#content {
    background-color: white;
    width: 100%;
    max-width: 1440px;
}

header {
    width: 100%;
    height: 10vh;
    background: #30343F;
    overflow: hidden;
}

footer {
    width: 100%;
    height: 14vh;
    background: #30343F;
    overflow: hidden;
}

main {
    background-color: white;
    min-height: 50vw;
    width: 100%;
}


/**************************************************/


/*                     header                     */


/**************************************************/

#logotipo {
    position: relative;
    margin-left: 6vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 6vh;
    width: auto;
}

menu li {
    /*font-family: 'Inter', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    display: inline-block;
    height: 6vh;
    vertical-align: middle;
    margin-right: 49px;
}

menu ul {
    list-style: none;
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 6vh;
    vertical-align: middle;
}

menu {
    float: right;
    margin-right: 20px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    vertical-align: middle;
    display: inline-block;
}